{# src/Tipddy/UPVBundle/Resources/views/Inscripcion/index.html.twig #}
{% extends 'TipddyUPVBundle::baselocal.html.twig' %}

{% block body %}



    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('inscripcion_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.nombre }}</td>
            <td>{{ entity.apellidos }}</td>
            <td>{{ entity.rut }}</td>
            <td>{% if entity.fechaNacimiento %}{{ entity.fechaNacimiento|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>{{ entity.sexo }}</td>
            <td>{{ entity.emailPersonal }}</td>
            <td>{{ entity.emailIntitucional }}</td>
            <td>{{ entity.fonoFijo }}</td>
            <td>{{ entity.fonoMovil }}</td>
            <td>{{ entity.sede }}</td>
            <td>{{ entity.facultad }}</td>
            <td>{{ entity.carrera }}</td>
            <td>{{ entity.tituloProfesional }}</td>
            <td>{{ entity.gradoAcademico }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('inscripcion_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('inscripcion_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
<ul>
    <li>
        <a href="{{ path('inscripcion_new') }}">
            Inscribase
        </a>
    </li>
</ul>

{% endblock %}