{% extends 'TipddyUPVBundle::baselocal.html.twig' %}
{% block body %}
<h1>Inscripcion</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ entity.nombre }}</td>
        </tr>
        <tr>
            <th>Apellidos</th>
            <td>{{ entity.apellidos }}</td>
        </tr>
        <tr>
            <th>Rut</th>
            <td>{{ entity.rut }}</td>
        </tr>
        <tr>
            <th>Fecha Nacimiento</th>
            <td>{{ entity.fechaNacimiento |date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Sexo</th>
            <td>{{ entity.sexo }}</td>
        </tr>
        <tr>
            <th>Email_Personal</th>
            <td>{{ entity.emailPersonal }}</td>
        </tr>
        <tr>
            <th>Email_Intitucional</th>
            <td>{{ entity.emailIntitucional }}</td>
        </tr>
        <tr>
            <th>Fono_fijo</th>
            <td>{{ entity.fonoFijo }}</td>
        </tr>
        <tr>
            <th>Fono_movil</th>
            <td>{{ entity.fonoMovil }}</td>
        </tr>
        <tr>
            <th>Sede</th>
            <td>{{ entity.sede }}</td>
        </tr>
        <tr>
            <th>Facultad</th>
            <td>{{ entity.facultad }}</td>
        </tr>
        <tr>
            <th>Carrera</th>
            <td>{{ entity.carrera }}</td>
        </tr>
        <tr>
            <th>Titulo Profesional</th>
            <td>{{ entity.tituloProfesional }}</td>
        </tr>
        <tr>
            <th>Grado Academico</th>
            <td>{{ entity.gradoAcademico }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('inscripcion') }}">
            Volver
        </a>
    </li>
    <li>
        <a href="{{ path('inscripcion_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('inscripcion_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}